<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/reset.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <title>CREATEX</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- BLOCK ========== HEADER ========== -->
            <div class="header">
                <!-- SUB_BLOCK ========== TOPBAR ========== -->
                <div class="topbar">
                    <div class="topbar__container _container">
                        <a href="" class="topbar__link"
                            >Available 24/7 at <span>(405) 555-0128</span></a
                        >
                        <ul class="topbar__menu">
                            <li class="topbar__item">Delivery & returns</li>
                            <li class="topbar__item">Track order</li>
                            <li class="topbar__item">Blog</li>
                            <li class="topbar__item">Contacts</li>
                        </ul>
                        <!-- ELEM_BLOCK ========== LANGUAGE MENU ========== -->
                        <div class="topbar__language dropdown">
                            <a href="#" class="dropdown__item active_item"
                                ><img
                                    src="./img/header/flag_usa_48.png"
                                    alt="Flag USA"
                                    class="dropdown__image"
                                />
                                Eng /$</a
                            ><img
                                src="./img/header/icons8-chevron-down-30.png"
                                alt="Chevron down"
                                class="dropdown__chevron"
                            />
                            <!-- ELEM_BLOCK ========== DROPMENU ========== -->
                            <div class="dropdown__menu">
                                <a href="#" class="dropdown__item"
                                    ><img
                                        src="./img/header/flag_france_48.png"
                                        alt="Flag France"
                                        class="dropdown__image"
                                    />
                                    Français / €</a
                                ><a href="#" class="dropdown__item"
                                    ><img
                                        src="./img/header/flag_germany_48.png"
                                        alt="Flag Germany"
                                        class="dropdown__image"
                                    />
                                    Deutsch / €</a
                                ><a href="#" class="dropdown__item"
                                    ><img
                                        src="./img/header/flag_taly_48.png"
                                        alt="Flag Italy"
                                        class="dropdown__image"
                                    />
                                    Italiano / €</a
                                >
                            </div>
                        </div>

                        <a href="#" class="topbar__register">
                            <img
                                src="./img/header/Person.png"
                                alt=""
                                class="topbar__img"
                            />
                            Log in / Register
                        </a>
                    </div>
                </div>
                <!-- SUB_BLOCK ========== NAVBAR ========== -->
                <div class="navbar">
                    <div class="navbar__container _container">
                        <img src="./img/header/logo.png" alt="Logo" />
                        <nav class="navbar__menu">
                            <a href="#">Women</a>
                            <a href="#">Men</a>
                            <a href="#">Girls</a>
                            <a href="#">Boys</a>
                            <a href="#">Sale</a>
                        </nav>

                        <input
                            class="navbar__input"
                            type="text"
                            placeholder="Search for products..."
                            name="search_input"
                        />

                        <div class="navbar__blockItems">
                            <div class="navbar__like">
                                <img src="./img/header/heart.png" alt="Heart" />
                                <p>2</p>
                            </div>
                            <div class="navbar__cart">
                                <img src="./img/header/cart.png" alt="Cart" />
                                <p class="cart__count">4</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SUB_BLOCK ========== PROMOBAR ========== -->
                <section class="promobar">
                    <div class="promobar__container">
                        <p><</p>
                        <p>Up to 70% Off.</p>
                        <a href="#">Shop our latest sale styles</a>
                        <p>></p>
                    </div>
                </section>
            </div>
            <!-- BLOCK ========== SECTION MAIN ========== -->
            <section class="main">
                <div class="main__arrow_left"><</div>
                <div class="main__container _container">
                    <h3 class="main__subtitle">New collection</h3>
                    <h2 class="main__title">Menswear 2020</h2>
                    <div class="main__buttons">
                        <a href="#" class="main__sale_btn">Shop sale</a>
                        <a href="#" class="main__menswear_btn"
                            >Shop the menswear</a
                        >
                    </div>
                    <div class="main__slider slider">
                        <div class="slider__01">01</div>
                        <div class="slider__01">02</div>
                        <div class="slider__01">03</div>
                        <div class="slider__01">04</div>
                    </div>
                </div>
                <div class="main__arrow_right">></div>
            </section>
            <!-- BLOCK ========== SECTION CATALOG ========== -->
            <section class="catalog">
                <div class="catalog__container _container">
                    <a class="catalog__womens">
                        <div class="catalog__img">
                            <img src="./img/catalog/women.png" alt="Women’s" />
                        </div>
                        <h3 class="catalog__title">Women’s</h3>
                    </a>
                    <a class="catalog__mens">
                        <div class="catalog__img">
                            <img src="./img/catalog/men.png" alt="Men’s" />
                        </div>
                        <h3 class="catalog__title">Men’s</h3>
                    </a>
                    <a class="catalog__kids">
                        <div class="catalog__img">
                            <img src="./img/catalog/kid.png" alt="Kids’" />
                        </div>
                        <h3 class="catalog__title">Kids’</h3>
                    </a>
                </div>
            </section>
            <!-- BLOCK ========== SECTION CAROUSEL ========== -->
            <section class="carousel"></section>
            <!-- BLOCK ========== SECTION NAV_OUTSIDE ========== -->
            <section class="nav_outside"></section>
            <!-- BLOCK ========== SECTION ARRIVALS ========== -->
            <section class="arrivals">
                <h2 class="arrivals__title">New arrivals</h2>
                <p class="arrivals__text">
                    Check out our latest arrivals for the upcoming season
                </p>
                <a href="#" class="arrivals__link">See the collection here</a>
                <div class="arrivals__carousel arrivals__products"></div>
                <div class="arrivals__nav">
                    <button
                        class="arrivals__products__button carousel_active"
                    ></button>
                    <button class="arrivals__products__button"></button>
                    <button class="arrivals__products__button"></button>
                </div>
            </section>
            <!-- BLOCK ========== SECTION BANNERS ========== -->
            <section class="banners">
                <div class="banner block1">
                    <h3 class="banner__subtitle">Summer Collections</h3>
                    <h2 class="banner__title">Sale Up to 70%</h2>
                    <a href="#" class="banner__link">Explore new prices</a>
                </div>
                <div class="banner block2">
                    <h3 class="banner__subtitle">Deal of the week</h3>
                    <h2 class="banner__title">
                        Stay Warm With Our New Sweaters
                    </h2>
                    <a href="" class="banner__link">Shop now</a>
                    <div class="banner__timer timer">
                        <h3 class="timer__title">Limited time offer</h3>
                        <div class="timer__counter">
                            <div class="timer__day counter">
                                <div class="counter__day">*</div>
                                <p class="counter__title">Days</p>
                            </div>
                            <div class="timer__hour counter">
                                <div class="counter__hour">*</div>
                                <p class="counter__title">Hours</p>
                            </div>
                            <div class="timer__min counter">
                                <div class="counter__min">*</div>
                                <p class="counter__title">Mins</p>
                            </div>
                            <div class="timer__sec counter">
                                <div class="counter__sec">*</div>
                                <p class="counter__title">Sec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner block3">
                    <h3 class="banner__subtitle">New collection</h3>
                    <h2 class="banner__title">
                        Shoes & Bags <br />
                        autumn / winter 2020
                    </h2>
                    <a href="" class="banner__link">See offers</a>
                </div>
                <div class="banner block4">
                    <h3 class="banner__subtitle">
                        For All new Email Subscribers
                    </h3>
                    <h2 class="banner__title">Get 5% Off & Free Delivery</h2>
                    <form action="" class="banner__form">
                        <label for="email" class="banner__label">Email</label>
                        <div class="bunner__input_group">
                            <input
                                type="email"
                                name="email"
                                placeholder="Your working email"
                                class="banner__input"
                                id="email"
                            />
                            <button class="banner__button">Subscribe</button>
                        </div>
                        <p class="banner__subscription">
                            *Sign up to be the first to hear about exclusive
                            deals, special offers and upcoming collections.
                        </p>
                    </form>
                </div>
            </section>
            <!-- BLOCK ========== SECTION CATEGORIES ========== -->
            <section class="categories">
                <h2 class="categories__title">Popular categories</h2>
                <div class="categories__carousel"></div>
            </section>
            <!-- BLOCK ========== SECTION TRENDING ========== -->
            <section class="trending">
                <div class="trending__container _container">
                    <div class="trending__title">
                        <h2 class="trending__h2">Trending now</h2>
                        <div class="trending__arrows">
                            <div>
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                            <div>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="trending_cards"></div>

                    <a href="#" class="trending__button">Explore top sales</a>
                </div>
            </section>
            <!-- BLOCK ========== SECTION SALE ========== -->
            <section class="sale">
                <div class="sale__container _container">
                    <div class="sale__title">
                        <h2 class="sale__h2">Sale up to 70%</h2>
                        <div class="sale__arrows">
                            <div>
                                <i class="fa-solid fa-arrow-left"></i>
                            </div>
                            <div>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="sale_cards"></div>

                    <a href="#" class="sale__button">See all sale products</a>
                </div>
            </section>
            <!-- BLOCK ========== SECTION MOBILE ========== -->
            <section class="mobile">
                <div class="mobile__container _container">
                    <img
                        src="./img/mobile/image.png"
                        alt=""
                        class="mobile__image"
                    />
                    <div class="mobile__side">
                        <h2 class="mobile__title">
                            Enjoy mobile shopping with our Createx Store App!
                        </h2>
                        <div class="mobile__market market">
                            <a href="#" class="market__apple">
                                <img
                                    src="./img/mobile/apple.svg"
                                    alt=""
                                    class="market__logo"
                                />
                                <img
                                    src="./img/mobile/app_store.svg"
                                    alt=""
                                    class="market__title"
                                />
                            </a>
                            <a href="#" class="market__google google">
                                <img
                                    src="./img/mobile/play.svg"
                                    alt=""
                                    class="google__logo"
                                />
                                <img
                                    src="./img/mobile/get_in_on.svg"
                                    alt=""
                                    class="google__subtitle"
                                />
                                <img
                                    src="./img/mobile/google_play.svg"
                                    alt=""
                                    class="google__title"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BLOCK ========== SECTION ADVANTAGE ========== -->
            <section class="advantage">
                <div class="advantage__container _container">
                    <div class="advantage__cards"></div>
                </div>
            </section>
            <!-- BLOCK ========== SECTION INSTAGRAM ========== -->
            <section class="instagram _container">
                <div class="instagram__text">
                    <p>Follow us on Instagram</p>
                    <h2>@createx_store</h2>
                    <a href="#"
                        ><img
                            src="./img/instagram/Instagram.svg"
                            alt=""
                        />Follow instagram</a
                    >
                </div>
                <div class="instagram__img">
                    <img src="./img/instagram/men.png" alt="Men" />
                    <img src="./img/instagram/cross.png" alt="Cross" />
                    <img src="./img/instagram/kid.png" alt="Kid" />
                </div>
            </section>
            <!-- BLOCK ========== SECTION FASHION ========== -->
            <section class="fashion _container">
                <div class="fashion__title-button">
                    <h2 class="fashion__title">Fashion blog</h2>
                    <a href="#" class="fashion__btn">View blog</a>
                </div>
                <div class="fashion__cards">
                    <!-- ELEM_BLOCK ========== CARD ========== -->
                    <div class="fashion__card">
                        <div href="" class="fashion__img">
                            <img
                                src="./img/fashion/fashion_img_1.png"
                                alt="Fashion image 1"
                            />
                        </div>
                        <h3 class="fashion__link">
                            <a href="#">Bag Trends for Summer 2020</a>
                        </h3>
                        <ul class="fashion__list">
                            <li><a href="#">Fashion</a> <span>|</span></li>
                            <li>
                                <a href="#">August 24, 2020</a><span>|</span>
                            </li>
                            <li>
                                <a href="#" class="fashion__chat"
                                    >No comments</a
                                >
                            </li>
                        </ul>
                        <p class="fashion__text">
                            Ipsum aliquet nisi, hendrerit rhoncus quam tortor,
                            maecenas faucibus. Tincidunt aliquet sit vel,
                            venenatis nulla. Integer bibendum turpis
                            convallis...
                        </p>
                    </div>
                    <!-- ELEM_BLOCK ========== CARD ========== -->
                    <div class="fashion__card">
                        <div href="" class="fashion__img">
                            <img
                                src="./img/fashion/fashion_img_2.png"
                                alt="Fashion image 1"
                            />
                        </div>
                        <h3 class="fashion__link">
                            <a href="#"
                                >Top 10 of This Season’s Hottest Sneakers</a
                            >
                        </h3>
                        <ul class="fashion__list">
                            <li><a href="#">Lifestyle</a><span>|</span></li>
                            <li><a href="#">July 16, 2020</a><span>|</span></li>
                            <li>
                                <a href="#" class="fashion__chat">4 comments</a>
                            </li>
                        </ul>
                        <p class="fashion__text">
                            Porta habitant vitae quam interdum. Leo viverra non
                            volutpat rhoncus placerat vitae scelerisque. Rhoncus
                            augue faucibus maecenas lacus...
                        </p>
                    </div>
                </div>
            </section>
            <!-- BLOCK ========== SECTION BRANDS ========== -->
            <section class="brands _container"></section>
            <!-- BLOCK ========== SECTION SUBSCRIBE ========== -->
            <section class="subscribe">
                <div class="subscribe___container _container">
                    <div class="subscribe__text">
                        <h2 class="subscribe__title">Subscribe for updates</h2>
                        <p class="subscribe__paragraph">
                            Subscribe for exclusive early sale access and new
                            arrivals.
                        </p>
                        <div class="subscribe__buttons">
                            <a
                                href="#"
                                class="subscribe__btn"
                                onclick="return false"
                                >Women</a
                            >
                            <a
                                href="#"
                                class="subscribe__btn"
                                onclick="return false"
                                >Men</a
                            >
                            <a
                                href="#"
                                class="subscribe__btn"
                                onclick="return false"
                                >Girls</a
                            >
                            <a
                                href="#"
                                class="subscribe__btn"
                                onclick="return false"
                                >Boys</a
                            >
                        </div>
                        <!-- ELEM_BLOCK ========== FORM ========== -->
                        <form class="subscribe__form">
                            <label for="email">Email</label>
                            <div class="subscribe__input-btn">
                                <input
                                    type="email"
                                    class="subscribe__input"
                                    id="email"
                                    placeholder="Your working email"
                                />
                                <button
                                    type="submit"
                                    class="subscribe__btn-form"
                                >
                                    Subscribe
                                </button>
                            </div>
                            <div class="subscribe__form-check">
                                <input
                                    type="checkbox"
                                    class="subscribe__input-check"
                                    id="check"
                                />
                                <label for="check"
                                    >I agree to receive communications from
                                    Createx Store.</label
                                >
                            </div>
                        </form>
                    </div>
                    <img
                        src="./img/subscribe/image.svg"
                        alt="#"
                        class="subscribe__img"
                    />
                </div>
            </section>
            <!-- BLOCK ========== FOOTER ========== -->
            <footer class="footer">
                <div class="footer__container _container">
                    <div class="footer__nav nav">
                        <div class="nav__help">
                            <h3 class="nav__title">Help</h3>
                            <ul class="nav__menu">
                                <li>
                                    <a href="#" onclick="return false"
                                        >Delivery & returns</a
                                    >
                                </li>
                                <li>
                                    <a href="#" onclick="return false">FAQ</a>
                                </li>
                                <li>
                                    <a href="#" onclick="return false"
                                        >Track order</a
                                    >
                                </li>
                                <li>
                                    <a href="#" onclick="return false"
                                        >Contacts</a
                                    >
                                </li>
                                <li>
                                    <a href="#" onclick="return false">Blog</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__shop">
                            <h3 class="nav__title">Shop</h3>
                            <ul class="nav__menu">
                                <li>
                                    <a href="#" onclick="return false"
                                        >New arrivals</a
                                    >
                                </li>
                                <li>
                                    <a href="#" onclick="return false"
                                        >Trending now</a
                                    >
                                </li>
                                <li>
                                    <a href="#" onclick="return false">Sales</a>
                                </li>
                                <li>
                                    <a href="#" onclick="return false"
                                        >Brands</a
                                    >
                                </li>
                            </ul>
                        </div>
                        <div class="nav__get">
                            <h3 class="nav__title">GET IN TOUCH</h3>
                            <ul class="nav__menu">
                                <li>
                                    <span>Call:</span>
                                    <a href="#" onclick="return false"
                                        >(405) 555-0128</a
                                    >
                                </li>
                                <li>
                                    <span>Email:</span>
                                    <a href="#" onclick="return false"
                                        >hello@createx.com</a
                                    >
                                </li>
                            </ul>
                            <div class="nav__social">
                                <a href="#" onclick="return false"
                                    ><i
                                        class="fa-brands fa-square-facebook fa-2xl"
                                    ></i
                                ></a>
                                <a href="#" onclick="return false"
                                    ><i
                                        class="fa-brands fa-square-instagram fa-2xl"
                                    ></i></a
                                ><a href="#" onclick="return false"
                                    ><i
                                        class="fa-brands fa-square-twitter fa-2xl"
                                    ></i></a
                                ><a href="#" onclick="return false"
                                    ><i
                                        class="fa-brands fa-square-youtube fa-2xl"
                                    ></i></a
                                ><a href="#" onclick="return false"
                                    ><i
                                        class="fa-brands fa-square-pinterest fa-2xl"
                                    ></i
                                ></a>
                            </div>
                        </div>
                        <div class="nav__app">
                            <h3 class="nav__title">Download our app</h3>
                            <div class="mobile__market market market__footer">
                                <a href="#" class="market__apple">
                                    <img
                                        src="./img/mobile/apple.svg"
                                        alt=""
                                        class="market__logo"
                                    />
                                    <img
                                        src="./img/mobile/app_store.svg"
                                        alt=""
                                        class="market__title"
                                    />
                                </a>
                                <a href="#" class="market__google google">
                                    <img
                                        src="./img/mobile/play.svg"
                                        alt=""
                                        class="google__logo"
                                    />
                                    <img
                                        src="./img/mobile/get_in_on.svg"
                                        alt=""
                                        class="google__subtitle"
                                    />
                                    <img
                                        src="./img/mobile/google_play.svg"
                                        alt=""
                                        class="google__title"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__rights rights">
                    <div class="rights__container _container">
                        <p>© All rights reserved. Made with</p>
                        <img src="./img/footer/outline.png" alt="Heart" />
                        <a href="#">by Createx Studio </a>
                    </div>
                </div>
            </footer>
        </div>

        <script src="./js/script.js"></script>
        <script
            src="https://kit.fontawesome.com/798aa2222d.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
