<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/zeroing.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/media&keyframes.css" />
        <title>Rock shox</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- ========== HEADER ========== -->
            <!-- ========== SEPARATOR ========== -->
            <!--  ---------- SUBSEPARATOR ---------- -->
            <div class="header">
                <video autoplay muted loop id="myVideo">
                    <source src="./video/ID_3830840.mp4" type="video/mp4" />
                </video>
                <div class="header__menu menu">
                    <img
                        src="./img/header/logo.svg"
                        alt="Logo"
                        class="menu__logo"
                    />
                    <ul class="menu__list">
                        <li>Главная</li>
                        <li>Курсы</li>
                        <li>Расписание</li>
                        <li>Преподаватели</li>
                        <li>Рассылка</li>
                        <li>Контакты</li>
                    </ul>
                    <img src="./img/header/icons8-двойная-стрелка-вниз-64.png" alt="Burger" class="header__burger">
                    <a href="#" class="menu__btn">Зайти в кабинет</a>
                </div>
                <div class="header__title">
                    <h1>Курс по ремонту велосипедных вилок</h1>
                </div>
                <div class="header__count count">
                    <div class="count__days block">
                        <p class="block__days"></p>
                        <p class="block__str">дней</p>
                    </div>
                    <div class="count__hours block">
                        <p class="block__hours"></p>
                        <p class="block__str">часов</p>
                    </div>
                    <div class="count__minutes block">
                        <p class="block__minutes"></p>
                        <p class="block__str">минут</p>
                    </div>
                    <div class="count__seconds block">
                        <p class="block__seconds"></p>
                        <p class="block__str">секунд</p>
                    </div>
                </div>
                <div class="header__order order">
                    <a href="#" class="order__btn">Заказать курс</a>

                    <div class="header__students">
                        <div class="header__allStudents students">
                            <p class="students__text">Учеников всего:</p>
                            <p class="allStudents__count count">200</p>
                        </div>
                        <div class="header__luckStudents students">
                            <p class="students__text">
                                Успешно закончили курс:
                            </p>
                            <p class="luckStudents__count count">190</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== ACTIVITY ========== -->
            <div class="activity">
                <img
                    src="./img/activity/unnamed-3.gif"
                    alt="Fork"
                    class="activity__img"
                />
                <div class="activity__block">
                    <p class="activity__title">Чем мы занимаемся?</p>
                    <p class="activity__text">
                        На курсе обучают ремонту и обслуживанию велосипедных
                        вилок. Студенты узнают о различных типах вилок и их
                        особенностях, а также учатся диагностировать и решать
                        проблемы с вилками, заменять запчасти и проводить
                        техническое обслуживание. Кроме того, курс может
                        включать в себя практические занятия и тренировки на
                        ремонте вилок разных типов и марок. На курсе также могут
                        рассматриваться особенности установки вилок на
                        велосипед, правила безопасности при работе с
                        инструментами и компонентами вилок, а также методы
                        доводки и настройки вилок для оптимальной работы и
                        комфорта велосипедиста. Кроме того, студенты могут
                        узнать о новых технологиях и материалах, используемых в
                        производстве вилок, и их влиянии на процессы ремонта и
                        обслуживания.
                    </p>
                </div>
            </div>
            <!-- ========== PROFESSION ========== -->
            <div class="profession">
                <div class="profession__content">
                    <p class="profession__title">
                        Получите профессию прямо сейчас
                    </p>
                    <div class="profession__cards cards">
                        <div class="cards__skills card">
                            <img
                                src="./img/profession/cards__skills.svg"
                                alt="skills"
                                class="cards__img skills"
                            />
                            <p class="cards__title">
                                Только практические навыки в работе
                            </p>
                            <p class="cards__text">
                                На курсе студенты проводят большую часть времени
                                на практике, выполняя задания и упражнения по
                                диагностике, ремонту и обслуживанию вилок.
                                Теоретический материал может быть представлен в
                                кратком и доступном формате, чтобы учащиеся
                                могли быстрее перейти к практике. Курс будет
                                полезен для тех, кто хочет быстро освоить
                                практические навыки ремонта вилок и применить их
                                на практике в своей работе или личном хобби.
                                Студенты могут изучить особенности работы с
                                различными типами вилок. Курс может быть
                                организован с учетом опыта участников и нацелен
                                на достижение конкретных целей в области ремонта
                                вилок. Преподаватели могут предоставить
                                студентам обратную связь и советы по улучшению
                                их навыков, чтобы участники могли продолжать
                                совершенствовать свои знания и умения.
                            </p>
                        </div>
                        <div class="cards__equipment card">
                            <img
                                src="./img/profession/pump-unscreen.gif"
                                alt="equipment"
                                class="cards__img equipment"
                            />
                            <p class="cards__title">
                                Работа на самом современном оборудовании
                            </p>
                            <p class="cards__text">
                                Курс ориентирован на работу с современным
                                оборудованием для ремонта велосипедных вилок. На
                                курсе студенты могут познакомиться с последними
                                достижениями в области технологий и
                                инструментов, используемых в ремонте вилок. В
                                рамках курса участники могут изучить различные
                                типы современных инструментов, применяемых для
                                диагностики, ремонта и обслуживания вилок, а
                                также научиться работать с высокотехнологичными
                                материалами и компонентами. Курс может быть
                                полезен для профессионалов, работающих в
                                велосервисах и желающих совершенствовать свои
                                навыки и знания в области ремонта вилок, а также
                                для любителей, желающих освоить новые технологии
                                и методы работы с велосипедными вилками.
                            </p>
                        </div>
                        <div class="cards__sertificate card">
                            <img
                                src="./img/profession/spinningcertificate-unscreen.gif"
                                alt="sertificate"
                                class="cards__img sertificate"
                            />
                            <p class="cards__title">
                                Сертификация по окончании обучения
                            </p>
                            <p class="cards__text">
                                Курс ориентирован на обучение профессиональных
                                навыков в области ремонта велосипедных вилок и
                                выдачу сертификата о завершении обучения. На
                                курсе студенты могут получить квалификацию,
                                подтверждающую их умение диагностировать,
                                ремонтировать и обслуживать велосипедные вилки
                                различных типов и марок. Курс организован с
                                учетом стандартов и требований, установленных
                                профессиональными ассоциациями или велосипедными
                                производителями. По окончании обучения участники
                                получат сертификат, который будет
                                документировать их квалификацию и подтверждать
                                их способность работать в области ремонта
                                велосипедных вилок. Такой курс может быть
                                полезен для тех, кто планирует работать в
                                велосервисе или желает заниматься ремонтом вилок
                                в качестве частного мастера.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== PARTNERS ========== -->
            <div class="partners">
                <p class="partners__title">Партнеры - топовые бренды</p>
                <div class="wrapper1">
                    <div class="partners__logos">
                        <img
                            src="./img/partners/Fuji-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/gios-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/shimano-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/marin-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/shwinn-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/giant-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/stans-removebg-preview.png"
                            alt=""
                        />
                        <img
                            src="./img/partners/trek-removebg-preview.png"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <!-- ========== TEACHERS ========== -->
            <div class="teachers">
                <p class="teachers__title">Ваши преподаватели</p>
                <div class="teachers__cards teacher">
                    <div class="teacher__first teacher__card">
                        <img
                            src="./img/teachers/pexels-stefan-stefancik-91227.jpg"
                            alt="Teacher foto"
                            class="teacher__image"
                        />
                        <p class="teacher__name">Джон Смит</p>
                        <p class="teacher__profession">Механик по вилкам</p>
                        <a class="teacher__link teacher__link-first">Биография</a>
                        <p class="biography teacher__biography-first">
                            Джон Смит родом из Калифорнии, США, и является
                            профессиональным механиком велосипедов с более чем
                            10-летним опытом работы в индустрии. Он получил
                            сертификат от ведущих производителей велосипедных
                            компонентов и специализируется на ремонте вилок,
                            собирая их с нуля и настраивая на определенный тип
                            катания. Джон является экспертом в области ремонта
                            пружинных и воздушных вилок, а также имеет опыт
                            работы с демпферами и настройки подвески. Он любит
                            передавать свои знания и опыт студентам, чтобы они
                            могли уверенно работать с любыми типами вилок.
                        </p>
                    </div>
                    <div class="teacher__second teacher__card">
                        <img
                            src="./img/teachers/pexels-andrea-piacquadio-733872.jpg"
                            alt="Teacher foto"
                            class="teacher__image"
                        />
                        <p class="teacher__name">Эмили Джонсон</p>
                        <p class="teacher__profession">Специалист по вилкам</p>
                        <a class="teacher__link teacher__link-second">Биография</a>
                        <p class="biography teacher__biography-second">
                            Эмили Джонсон родилась и выросла в штате Нью-Йорк,
                            США. Она работает в индустрии велосипедов уже более
                            8 лет и является специалистом по обслуживанию
                            велосипедных вилок. Эмили имеет опыт работы в
                            качестве механика велосипедов на различных
                            мероприятиях, таких как соревнования и велосипедные
                            фестивали, а также на чемпионатах мира по
                            велоспорту. Она является сертифицированным
                            специалистом по ремонту вилок от нескольких ведущих
                            производителей, включая Fox, RockShox и Manitou.
                            Эмили любит помогать студентам на курсах и
                            передавать им свои знания и опыт.
                        </p>
                    </div>
                    <div class="teacher__third teacher__card">
                        <img
                            src="./img/teachers/pexels-vinicius-wiesehofer-1130626.jpg"
                            alt="Teacher foto"
                            class="teacher__image"
                        />
                        <p class="teacher__name">Сара Миллер</p>
                        <p class="teacher__profession">Инструктор по вилкам</p>
                        <a class="teacher__link teacher__link-third">Биография</a>
                        <p class="biography teacher__biography-third">
                            Сара Миллер, сертифицированный инструктор по ремонту
                            велосипедных вилок, имеет более 10-летний опыт
                            работы в этой области. Она прошла специальную
                            подготовку по ремонту вилок разных типов и брендов и
                            успешно работает в качестве консультанта для
                            профессиональных спортсменов и любителей
                            велосипедного спорта. Сара активно участвует в
                            международных соревнованиях и мероприятиях по
                            велосипедному спорту, где использует свои знания и
                            опыт для обслуживания вилок участников. Она также
                            является автором нескольких статей и видеоуроков о
                            ремонте велосипедных вилок
                        </p>
                    </div>
                </div>
            </div>
            <!-- ========== FOOTER ========== -->
            <footer class="footer">
                <p class="footer__title">Статьи каждую неделю</p>
                <p class="footer__text">
                    Больше 90% учеников прошли полный курс и смогли перебрать
                    свою первую вилку
                </p>
                <form action="text" class="footer__form">
                    <input
                        type="email"
                        name="email"
                        placeholder="Email"
                        class="footer__email"
                    />
                    <a href="" class="footer__btn">Подписаться</a>
                </form>
                <div class="footer__socialNetwork container">
                    <div class="container__img">
                        <img
                            src="./img/footer/vk.svg"
                            alt="VK logo"
                            class="footer__vk"
                        />
                    </div>
                    <div class="container__img">
                        <img
                            src="./img/footer/youtube.svg"
                            alt="Youtube logo"
                            class="footer__youtube"
                        />
                    </div>
                    <div class="container__img">
                        <img
                            src="./img/footer/facebook.svg"
                            alt="Facebook logo"
                            class="footer__facebook"
                        />
                    </div>
                    <div class="container__img">
                        <img
                            src="./img/footer/instagram.svg"
                            alt="Instagram logo"
                            class="footer__instagram"
                        />
                    </div>
                </div>
            </footer>
            
            
        </div>

        <script src="./js/script.js"></script>
    </body>
</html>
