* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: flex-start;
}
/* flex-direction - расставляет элементы в ряд или в колонку.
Row - Элементы расположены в ряд, по умолчанию прижаты к левому краю, их нумерация имеет обычный порядок - слева направо.
row-reverse - Элементы расположены в ряд, по умолчанию прижаты к правому краю, их нумерация имеет обратный порядок - справа налево. 
Column - Элементы расположены в колонку, по умолчанию прижаты к верху, их нумерация имеет обычный порядок - сверху вниз.
column-reverse - Элементы расположены в колонку, по умолчанию прижаты к низу, их нумерация имеет обратный порядок - снизу вверх.

justify-content - Отвечает за выравнивание элементов по главной оси:
flex-start - Флексы прижаты к началу строки.
flex-end - Флексы прижаты к концу строки.
center - Флексы выравниваются по центру строки.
space-between - Флексы равномерно распределяются по всей строке. Первый и последний элемент прижимаются к соответствующим краям контейнера.
space-around - Флексы равномерно распределяются по всей строке. Пустое пространство перед первым и после последнего элементов равно половине пространства между двумя соседними элементами.
space-evenly - Флексы распределяются так, что расстояние между любыми двумя соседними элементами, а также перед первым и после последнего, было одинаковым.
*/

/* nowrap - Флексы выстраиваются в одну линию. по умолчанию
wrap - Флексы выстраиваются в несколько строк, их направление задаётся свойством flex-direction.
wrap-reverse - Флексы выстраиваются в несколько строк, в направлении, противоположном flex-direction. */

/* .block1 {
    display: inline;
    border: 2px solid espace-evenly
} */

.block1 {
    border: 2px solid black;
    width: 200px;
}
.block2 {
    border: 2px solid rgb(12, 10, 126);
    width: 200px;
}
.block3 {
    border: 2px solid rgb(192, 13, 13);
    width: 200px;
}
.block4 {
    border: 2px solid rgb(179, 216, 13);
    width: 200px;
}
.block5 {
    border: 2px solid rgb(23, 233, 198);
    width: 200px;
}

/* div{
    display: inline-block;
    vertical-align: bottom;
} */
