* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 150px;
    height: 400px;
    margin: 30px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

.container div {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.block1{
    background-color: red;
}

.block2{
    background-color: yellow;
}
.block3{
    background-color: green;
}