.categories {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.categories__title {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
}

.categories__carousel {
    display: flex;
    gap: 30px;
}

.categories__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.categories__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    background-position: center;
}

.categories__titleCard {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #1e212c;
    cursor: pointer;
}

.categories__titleCard:hover {
    color: #17696a;
}

/* .categories__img:hover {
    background-size: 110%;
    transition: 0.5s ease-in-out;
} */

.categories__img {
    overflow: hidden;
    transition: 0.5s;
}

.categories__img img {
    transition: 0.5s;
}

.categories__img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
