.trending {
    margin-top: 180px;
    background: #e5e8ed;
}

.trending__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending__title {
    display: flex;
    justify-content: space-between;
}
.trending__h2 {
    margin-top: 80px;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1e212c;
    text-align: left;
}

.trending__arrows {
    display: flex;
    align-items: end;
}

.trending__arrows:has(div) div {
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    cursor: pointer;
    transition: 0.3s;
}

.trending__arrows:has(i) i {
    color: #424551;
}

.trending__arrows:has(div) div:hover {
    background-color: var(--accent);
    transition: 0.3s;
}

.trending__arrows:has(div) div:hover:has(i) i {
    color: #ffffff;
}
/* ELEM_BLOCK ========== CARDS ========== */
.trending_cards {
    margin-top: 60px;
    display: flex;
    gap: 30px;
}

.trending_cards__card {
    display: flex;
    flex-direction: column;
}

.trending_cards__img {
    width: 390px;
    height: 440px;
}

.trending_cards__title {
    margin: 16px 0 0 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #424551;
    cursor: pointer;
}

.trending_cards__title:hover {
    color: var(--accent);
}

.trending_cards__price {
    margin: 16px 0 8px 16px;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #1e212c;
}

.trending__button {
    margin: 80px auto;
    width: 210px;
    height: 52px;

    border: 1px solid var(--accent);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.5px;
    color: var(--accent);
}

.trending__button:hover {
    color: white;
    background-color: var(--accent);
}
