.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

.text_btn,
.btn_left,
.btn_right {
    width: 50px;
    height: 50px;
}

.input {
    border: 1px solid black;
}
