.product {
  padding: 10px;
  background-color: bisque;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.product button {
  background-color: mediumturquoise;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
