.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.show_btn {
    height: 50px;
}

button {
    margin: 5px 0 5px;
}

.cards_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: scroll;
}

.card {
    border: 1px dashed red;
    margin: 5px;
    width: 25%;
    padding: 5px;
    border-radius: 10px;
}
