<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/zeroing.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/media&keyframes.css" />
        <title>BuhOne</title>
    </head>
    <body>
        
        <div class="wrapper">
            
            <!-- ========== HEADER ========== -->
            <div class="header">
                <div class="header__container _container">
                    <img
                        src="./img/header/Group 1.svg"
                        alt="Logo"
                        class="header__logo"
                    />
                    <ul class="header__menu">
                        <li>Главная</li>
                        <li>Услуги</li>
                        <li>кейсы</li>
                        <li>о компании</li>
                        <li>контакты</li>
                    </ul>
                    <img
                        src="./img/header/icons8-burger-bar-64.png"
                        alt="Burger"
                        class="header__burger"
                    />
                </div>
            </div>

            <!-- ========== OUR SPECIALTY ========== -->
            <section class="our_specialty">
                <div class="our_specialty__container _container">
                    <div class="our_specialty__subtitle">Наши услуги</div>
                    <div class="our_specialty__title">Мы специализируемся</div>
                    <div class="our_specialty__cards">
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                        <div class="our_specialty__card">
                            <p>Бухгалтерское обслуживание</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ========== ABOUT US ========== -->
            <section class="about_us">
                <div class="about_us__container _container">
                    <div class="about_us__left_block">
                        <div class="about_us__subtitle">О нас</div>
                        <div class="about_us__title">
                            Компания <span>ИвановПром</span>
                        </div>
                        <div class="about_us__text">
                            Lorem Ipsum - это текст-"рыба", часто используемый в
                            печати и вэб-дизайне. Lorem Ipsum является
                            стандартной "рыбой" для текстов на латинице с начала
                            XVI века. В то время некий безымянный печатник
                            создал большую коллекцию размеров и форм шрифтов,
                            используя Lorem Ipsum для распечатки образцов. Lorem
                            Ipsum не только успешно пережил без заметных
                            изменений пять веков, но и перешагнул в электронный
                            дизайн.
                        </div>
                    </div>
                    <div class="about_us__cards">
                        <div class="about_us__card card_todo">
                            <p class="card_todo__count">90</p>
                            <p class="card_todo__title">
                                Завершено крупных сделок
                            </p>
                            <a href="#" class="card_todo__link">Все кейсы</a>
                        </div>
                        <div class="about_us__card card_todo">
                            <p class="card_todo__count">90</p>
                            <p class="card_todo__title">
                                Завершено крупных сделок
                            </p>
                            <a href="#" class="card_todo__link">Все кейсы</a>
                        </div>
                        <div class="about_us__card card_todo">
                            <p class="card_todo__count">90</p>
                            <p class="card_todo__title">
                                Завершено крупных сделок
                            </p>
                            <a href="#" class="card_todo__link">Все кейсы</a>
                        </div>
                        <div class="about_us__card card_todo">
                            <p class="card_todo__count">90</p>
                            <p class="card_todo__title">
                                Завершено крупных сделок
                            </p>
                            <a href="#" class="card_todo__link">Все кейсы</a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ========== CONTACT US ========== -->
            <section class="contact_us">
                <div class="contact_us_container _container">
                    <!-- ---------- CONTACT US LEFT BLOCK ---------- -->
                    <div class="contact_us__left_block">
                        <div class="contact_us__title">Связь с нами</div>
                        <div class="contact_us__support_contact">
                            У вас остались вопросы? Напишите нам - мы ответим в
                            ближайшее время!
                        </div>
                        <div class="contact_us__phone_email">
                            <div class="contact_us__phone">
                                <img
                                    src="./img/contact_us/icons8-iphone-14-pro-50.png"
                                    alt="Phone logo"
                                    class="contact_us__phone_logo"
                                />
                                <div class="contact_us__phone">
                                    +7 (111) 222-33-44
                                </div>
                            </div>
                            <div class="contact_us__email">
                                <img
                                    src="./img/contact_us/icons8-secured-letter-50.png"
                                    alt="Email logo"
                                    class="contact_us__email_logo"
                                />
                                <div class="contact_us__our_email">
                                    order@bu-one.ru
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ---------- CONTACT US RIGHT BLOCK ---------- -->
                    <div class="contact_us__form form">
                        <div class="form__name_block block">
                            <div class="block__firstname">
                                <label for="form__firstname">Имя</label>
                                <input
                                    type="text"
                                    placeholder="Иван"
                                    class="form__firstname"
                                    id="form__firstname"
                                />
                            </div>
                            <div class="block__secondname">
                                <label for="form_secondname">Фамилия</label>
                                <input
                                    type="text"
                                    placeholder="Иванов"
                                    class="form_secondname"
                                    id="form_secondname"
                                />
                            </div>
                        </div>
                        <label for="form__message">Сообщение</label>
                        <input
                            type="text"
                            placeholder="Ваше сообщение"
                            class="form__message"
                            id="form__message"
                        />
                        <button class="form__btn">Отправить сообщение</button>
                    </div>
                </div>
            </section>
            <!-- ========== FOOTER ========== -->
            <footer class="footer">
                <div class="footer__container _container">
                    <p class="footer__text">
                        2019 (с) Все права защищены. БухОне.ру
                    </p>
                    <p class="footer__text">Разработано: BuhOne</p>
                </div>
            </footer>
        </div>

        

        <script src="./js/script.js"></script>
    </body>
</html>
