h1{
    color: red;
}

h2{
    color: aqua;
}

h3{
    color: blueviolet;
}

h4{
    color: brown;
}

h5{
    color: blanchedalmond;
}

h6{
    color: antiquewhite;
}

body{
    background-color: black;
}