.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.container img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card {
    padding: 10px;
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
    margin-bottom: 10px;
}
